doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

    div.gamepanel
      h1 Management
      input(id="admin_password", placeholder="Password" type="password")
      a(class="action" href='scoreboard') No admin ? Back to scoreboard!


      div.admincheck
        div#SignUp
            h3 New game
          form(action="/admin" method="post" name="inputForm")
            label Team 1: &nbsp;
            input(id="team1", placeholder="Belgium" name="team1")
            br
            label Team 2: &nbsp;
            input(id="team2", placeholder="Italy" name="team2" required)
            br

            button(class="newgame" type="submit" id="submit") New game

        div.games
          each game, i in all_games
            li
              a(class="hvr-grow" href="/admin/#{game.id}")
                h2 #{game.team1} vs #{game.team2}


        script(src="http://localhost:3000/socket.io/socket.io.js")
        script(src="/javascripts/sockets.js")
        script(src="/javascripts/pass_check.js")
