doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title


    h1 Admin

    div#Login
      label Username: &nbsp;
      input(id="login_username" name="login_username")
      br
      br
      label Password: &nbsp;
      input(id="login_password" name="login_username" type="password")
      br
      br
      button.hvr-grow Log in
