doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title

    
    h1 Welcome to Football app

    a.calltoaction__link(href='scoreboard') Go to scoreboard
    a.calltoaction__link(href='admin') Admins
