doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    div.home
      h1 Euro 2016 Football node.js app
      h2 A briliant place where you can follow your team at Euro 2016

      a(href='scoreboard') Go to scoreboard
      a(href='admin') Admin panel
