doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title


    h1 Scoreboards
    div.gameListAll
      each game, i in all_games
        li
          a(class="hvr-grow" href="/scoreboard/#{game.id}")
            h2 #{game.team1} vs #{game.team2}
